<!-- <footer class="footer">我是 footer</footer> -->

<footer>
  <div class="container">
    <div class="footerNavWrap">
      <ul class="footerNavIcon">
      <li><a href="#">
        <i class="bi bi-facebook"></i>
      </a></li>
      <li><a href="#">
        <i class="bi bi-instagram"></i>
      </a></li>
      <li><a href="#">
        <i class="bi bi-line"></i>
      </a></li>
      </ul>
      <ul class="footerNavMenu">
        <li><a href="#">系列鏡框</a></li>
        <li><a href="location.html">門市據點</a></li>
        <li><a href="blog.html">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
    <div class="footerContentWrap">
      <div class="footerContentLeft">
        <div class="footerContentUp">
          <span class="material-symbols-outlined
          footerContentSizeIcon">call</span>            
          <p class="footerPhone">0800-000-000</p>
        </div>
        <div class="footerContentDown">
          <span class="material-symbols-outlined
          footerContentSizeIcon">mail</span>
          <p class="footerEmail">
            glasses@business.com
          </p>
        </div>           
      </div>
      <ul class="footerContentRight">
        <li><a href="#">
          <i class="bi bi-facebook"></i>
        </a></li>
        <li><a href="#">
          <i class="bi bi-instagram"></i>
        </a></li>
        <li><a href="#">
          <i class="bi bi-line"></i>
        </a></li>
      </ul>         
    </div>
    <div class="footerDownWrap">
      <p class="footerDownText">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="footerDownMenu">
        <li>隱私權政策</li>
        <li>服務條款</li>
      </ul>
    </div>
  </div>
</footer>